* {
 margin: 0;
  padding: 0;
  bottom: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

ul li,
ol li {
  list-style: none;
}

body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1;
}

a,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h3,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
 max-width: 100%;
 display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}